{% extends 'baser.html' %}

{% block extratitle %} - About {% endblock %}

{% block content %}
<div class="page">
  <div class="row-fluid">
    <div class="span10">
      <h1>About Randomise Me</h1>
      <p>
        Randomise Me is a project to promote the public understanding of randomized controlled trials funded by <a href="http://www.www.nesta.org.uk">NESTA</a> and delivered by Better Data and <a href="http://www.openhealthcare.org.uk/">Open Health Care UK</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
