{% extends 'baser.html' %}
{% load staticfiles %}

{% block extratitle %} - About {% endblock %}

{% block content %}
  <div class="page">

  <h1>
    <span class="greyunder">
      About Randomise Me
    </span>
  </h1>
<div class="feature-box">
  <div class="row-fluid">
      <!-- Main panel -->
      <div class="span9">
        <h3>
          <span class="light">
            RANDOMISE ME
          </span>
          <span class="red bold">
            DOT ORG
          </span>
        </h3>
        <p>
          Randomise Me is a platform that enables individuals and organisations to run
          trials of varying sizes. It helps generate useful information for organisations and
          individuals to help answer questions relevant to their organisation, project or
          lives. It also helps to spread the idea of randomised trials, advocate for their
          wider use, and normalise them in the public imagination.
        </p>
        <h3>
          <span class="red bold">HELPING</span>
          <span class="light">YOU GET STARTED</span>
        </h3>
        <p>
          Randomise Me takes organisations or individuals through a step by step process
          to create, structure and run a trial, including helping to randomise
          the participants and also, on behalf of the researcher, it can send information to
          participants such as asking them questions on particular dates or at certain
          times to suit the project. As the subjects report their outcomes, we
          measure the difference between the two groups, and calculate the statistical
          significance of any difference between them.
        </p>
        <h3>
          <span class="light">RANDOMISE</span>
          <span class="red bold">ME</span>
        </h3>
        <p>
          Randomise Me enables individuals to run trials to answer questions
          pertinent to them. For example, you might wonder whether coffee causes
          palpitations but you are not sure, because you tend to drink more coffee on
          stressful days. You can easily use Randomise Me to run and trial and find out.
          Randomise Me will send you an email every morning, telling you whether or
          not you can drink coffee that day; then ask you in the evening whether or not
          you had palpitations. At the end of the trial period, Randomise Me will show you
          if coffee is associated with palpitations for you.
        </p>

      </div>

      <!-- Side panel -->
      <div class="span3 ">
        <ul class="unstyled">
          <li>
            <a href="http://www.www.nesta.org.uk">
              <img src="http://ebmedia.eventbrite.com/s3-build/images/191999/27945257/1/logo.jpg" alt="Nesta">
            </a>
          </li>
          <li>
            <img src="http://prescribinganalytics.com/img/logo-badscience.png" class="" alt="" />
          </li>
          <li>
             <a href="http://www.openhealthcare.org.uk/" >
               <img src="{% static 'img/OpenHealthCareUKLogo260.png' %}" class="" alt="Open Health Care UK" />
             </a>
          </li>
        </ul>
      </div>
    </div> <!-- span9 -->
  </div> <!-- Row Fluid -->

  </div> <!-- page -->

{% endblock %}
