{% extends 'baser.html' %}
{% block extratitle %} - {% if request.user.is_authenticated %}Upgrade{% else %}Sign Up{% endif %}{% endblock %}
{% block content %}

<div class="page">
  <div class="row-fluid">

    <div class="span4">
      <h2>Standard</h2>
      <ul>
        <li>ability to view trials</li>
        <li>join existing trials</li>
        <li>start new trials</li>
        <li>free</li>
      </ul>
    </div>

    <div class="span4">
      <h2>Advanced</h2>
      <ul>
        <li>ability to view trials</li>
        <li>join existing trials</li>
        <li>start new trials</li>
        <li class="yellow">run trials with existing samples</li>
        <li class="yellow">
          run trials offline e.g. with a .csv file that can be uploaded
        </li>
        <li>£20/month</li>

      </ul>
    </div>

    <div class="span4">
      <h2>Premium</h2>
      <ul>
        <li>ability to view trials</li>
        <li>join existing trials</li>
        <li>start new trials</li>
        <li class="yellow">run trials with existing samples</li>
        <li class="yellow">
          run trials offline e.g. with a .csv file that can be uploaded
        </li>
        <li class="red">bespoke stats</li>
        <li class="red">consultancy service</li>
        <li>from £40/month</li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">

    <div class="span4">
      {% if not request.user.is_authenticated %}
        <p><a class="btn btn-danger" href="{% url 'account_signup' %}">SIGN UP</a></p>
      {% endif %}
    </div>

    <div class="span4">
      <p>
      {% if not request.user.is_authenticated  %}
        <a class="btn btn-danger" href="{% url 'account_signup' %}">SIGN UP</a>
      {% elif request.user.is_standard %}
        <a href="{% url 'gc_subscribe' %}" class="btn btn-danger">UPGRADE</a>
      {% endif %}
      </p>
    </div>

    <div class="span4">
      <p>
        {% if not request.user.is_authenticated %}
          <a class="btn btn-danger" href="{% url 'account_signup' %}">SIGN UP</a>
        {% elif request.user.is_standard %}
          <a href="{% url 'gc_subscribe' %}" class="btn btn-danger">UPGRADE</a>
        {% endif %}
      </p>
    </div>

  </div>
</div>
{% endblock %}
