<!DOCTYPE html>
<html lang="en" class="{% block htmlclass %}{% endblock %}">
  <head>
    <meta charset="utf-8">
    <title>Randomise Me{% block extratitle %}{% endblock %}</title>
    {% include 'head.html' %}
  </head>

  <body>
    {% include 'nav.html' %}
    <div class="container">
      {% block content %}{% endblock %}
      <hr />

    </div> <!-- /container -->

    <div class="footer">
      <div class="container">
        <div class="row-fluid">
          <div class="span4">
            <a href="#">Give us feedback</a>
          </div>
          <div class="span4">
            <a href="#">Report a bug</a>
            <img src="{{STATIC_URL}}img/bug.png" class="" alt="" />
          </div>
          <div class="span4">
            <a href="{% url 'disclaimer' %}">Disclaimer</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/d3/d3.v3.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/underscore.js"></script>
    <script src="{{ STATIC_URL }}css/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/parsley.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rm.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rm.init.js"></script>

  </body>
</html>
