{% extends 'basest.html' %}
{% block body %}
  <ul class="inline">
    {% block admin_nav %}      {% endblock %}
  </ul>
    {% include 'nav.html' %}

  <div class="rm">
    <div class="container">
      {% block content %}{% endblock %}
    </div> <!-- /container -->
  </div>

    <div id="prefoot">

    </div><!--prefoot-->
    <div class="footer">
      <div class="container">
        <div class="row-fluid">
          <div class="span3">
            <a href="{% url 'contact' %}">Give us feedback</a>
          </div>
          <div class="span3">
            <a href="https://github.com/openhealthcare/randomise.me">Report a bug</a>
            <img src="{{STATIC_URL}}img/bug.png" class="" alt="" />
          </div>
          <div class="span3">
            <a href="{% url 'disclaimer' %}">Disclaimer</a>
          </div>
          <div class="span3">
            <a href="{% url 'about-rm' %}">About Randomise Me</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
