{% extends 'baser.jinja2' %}
{% block extratitle %} - Disclaimer{% endblock %}
{% block content %}
  <div class="page">
    <h1>DISCLAIMER</h1>
    <p>
      Randomize me is a tool to carry out and learn about randomized
      controlled trials. We can't guarantee it will work perfectly
      (but please tell us if it doesn't!) or endorse anything you do with it.
      You use it at your own risk.
    </p>
    <p>
      Randomize me is provided "as is", without warranty of any kind,
      express or implied, including but not limited to the warranties of
      merchantability, ﬁtness for a particular purpose and
      noninfringement. In no event shall Better Data Limted be liable for
      any claim, damages or other liability, whether in an action of
      contract, tort or otherwise, arising from, out of or in connection with
      Randomize me or the use or other dealings in Randomize me.
    </p>
  </div>
{% endblock %}
