{% extends 'baser.html' %}
{% load  join_trial json_filters %}
{% load featured_trials %}

{% block htmlclass%}  {% endblock %}
{% block content %}
  <div class="page">

    <!-- Top level banner - What is this? Why are we here? -->
    <div class="row-fluid">
      <div class="span5">
        <h2>Randomise Me</h2>
        <p class="larger justified">
          Randomise Me is a platform for running Randomised Controlled Trials -
          a technique used by scientists and researchers for finding out about
          the world.
        </p>
        <p class="larger">
          <a href="{% url 'about-rcts' %}" class="helpful">More about RCTs</a>...
        </p>
      </div>
      <div class="span6 offset1">
        {% include 'get_started.html' %}
      </div>
    </div>

    {% featured_trials_widget 2 %}

    <p class="pull-right drop12">
      <a href="{% url 'featured' %}" class="red weight400">See more trials</a>
    </p>
  </div>

{% endblock %}
