{% extends 'baser.html' %}
{% load tabs join_trial %}
{% block htmlclass%}  {% endblock %}
{% block content %}
  <div class="page">
    <div class="row-fluid">
      {% tabs 'home' %}
    </div>

    <!-- Top level banner - What is this? Why are we here? -->
    <div class="row-fluid">
      <div class="span6">
        <p>
          Evidence is super neat, RCTs are pretty wild. Wouldn't you
          like to run some RCTs yourself? Now you can!
        </p>
        <p>
          Why don't you watch this video ? If you like that sort of
          thing. Shure. Whatever.
        </p>
      </div>
      <div class="span6">
        <img src="{{ STATIC_URL }}img/video-placeholder-large.jpg" class="" alt="" />
      </div>
    </div>

    <!-- Second row - What do you get out of running a trial? -->
    <h2>Featured Trials</h2>
      {% if finished %}
        <div class="row-fluid">
        {% for trial in finished %}
          <div class="span8">
            <h3>
              <a href="{{ trial.get_absolute_url }}">
                {{ trial.name }}
                </a>
            </h3>
          </div>
          <div class="span4">
            <p>PLACEHOLDER - BASIC GRAPH THUMBNAIL HERE</p>
          </div>
        {% endfor %}
      {% else %}
      <div class="row-fluid grey-back feature-box">
          <div class="span8">
            <h3>
              <a href="#">
                This trial has a name
                <br />
              </a>
            </h3>
            <p>
              This trial also has a description. That tells you what it's about.
            </p>

          </div>
          <div class="span3">
            <div id="vis1"></div><!--vis1-->
          </div>

        </div> <!-- row-fluid -->
        <hr />
        <div class="row-fluid grey-back feature-box">

          <div class="span8">
            <h3>
              <a href="#">
                This is another trial
                <br />
              </a>
            </h3>
            <p>
              What this second trial is about
            </p>

          </div>
          <div class="span3">
            <div id="vis2"></div><!--vis1-->
          </div>

        <script type="text/javascript">
          {% autoescape off %}
            $(document).ready( function(){
              RM.graphs.trial_thumbnail("#vis1", [{name: 'Group A', avg: 123},
                                                  {name: 'Group B', avg: 456}]);
              RM.graphs.trial_thumbnail("#vis2", [{name: 'Group A', avg: 789},
                                                  {name: 'Group B', avg: 456}]);

            });
          {% endautoescape %}
        </script>

      {% endif %}
    </div>

        <hr />

    <!-- Third row, Create/join trials -->
    <div class="row-fluid">
      <div class="span6 grey-back feature-box">
        <h3>Create a trial</h3>
        <ol>
          <li>
            Have a question
          </li>
          <li>
            Create a trial in minutes
          </li>
          <li>
            Get pretty results
          </li>
        </ol>
        <div class="span3">
          <a href="#">How does it work</a>
        </div>
        <div class="span3">
          <a href="{% url 'tutorial' %}" class="btn btn-danger">Start</a>
        </div>
      </div>

      {% join_trial_widget %}
    </div>

  </div>

{% endblock %}
