{% extends 'baser.html' %}
{% load  join_trial json_filters %}
{% block htmlclass%}  {% endblock %}
{% block content %}
  <div class="page">

    <!-- Top level banner - What is this? Why are we here? -->
    <div class="row-fluid">
      <div class="span5">
        <h2>Randomise Me</h2>
        <p>
          Have you ever wondered about whether something was true?
        </p>
        <p>
          Randomise Me is a platform for running Randomised Controlled Trials -
          a technique used by scientists and researchers for finding out about
          the world.
        </p>
      </div>
      <div class="span6 offset1">
        <a href="{% url 'tutorial' %}" class="feature-heading">
          <h2><span class="bold red">CREATE</span> <span class="light">A TRIAL</span></h2>
        </a>
        <div class="feature-box">
      <dl class="numbered">
        <dt>
          Have a question
        </dt>
        <dt>
          Create a trial in minutes
        </dt>
        <dt>
          Get pretty results
        </dt>
      </dl>

        </div>
        <p class="drop12">
          <a href="{% url 'how-do-rcts-work' %}" class="red weight400">How does it work?</a>
          <a href="{% url 'tutorial' %}" class="btn btn-danger larger pull-right">
            get started
          </a>
        </p>
      </div>

      <!-- <div class="span6 offset1"> -->
      <!--   <img src="{{ STATIC_URL }}img/video-placeholder-large.jpg" class="" alt="" /> -->
      <!-- </div> -->
    </div>

    <!-- Second row - What do you get out of running a trial? -->
    <a href="#" class="feature-heading">
      <h2><span class="bold red">FEATURED</span> <span class="light">TRIALS</span></h2>
    </a>
        <div class="feature-box">

          {% for trial in featured %}
          <div class="row-fluid darkback">
            <div class="span8">
              <p class="larger white redroll">
                <a href="{{ trial.get_absolute_url }}" class="whiteroll">
                  {{ trial.title }}
                </a>
              </p>
            </div>
            <div class="span3">
              <div id="vis{{trial.pk}}"></div>
            </div>
          </div>
          <script type="text/javascript">
          {% autoescape off %}
            $(document).ready( function(){
              RM.graphs.trial_thumbnail("#vis{{trial.pk}}", {{trial.results|json}});
            });
          {% endautoescape %}
          </script>
          {% endfor %}
    </div>

        <p class="pull-right drop12">
          <a href="{% url 'featured' %}" class="red weight400">See more trials</a>
        </p>

    <!-- Third row, Create/join trials -->
    <div class="row-fluid clearem">

      {% join_trial_widget %}
    </div>

  </div>

{% endblock %}
