{% extends 'baser.html' %}
{% load terms %}
{% load worked_examples %}

{% block extratitle %} - How Does Randomise Me work?{% endblock %}

{% block content %}
  <h1>
    <span class="greyunder">
      How does Randomise Me work?
    </span>
  </h1>

  {% filter replace_terms %}
    <div class="row-fluid justified">
      <div class="span7">
      </div>
    {% endfilter %}
    <div class="span5">
      <div class="row-fluid">
        {% include 'get_started.html' %}
      </div>
     <div class="row-fluid">
        {% worked_examples %}
      </div>
    </div>
    </div>


{% endblock %}
