{% if trials.count == 0 %}
  <p>
    Looks like you haven't <a href="{% url 'trial-create' %}">created</a>
    or <a href="{% url 'trials' %}">joined</a> any trials yet!
  </p>
{% else %}
<table class="table table-striped table-bordered">
  <tr>
    <th>
      Name
    </th>
    <th>
      Required participants
    </th>
    <th>
      Current participants
    </th>
  </tr>
  {% for trial in trials %}
    <tr>
      <td>
        <a href="{{ trial.get_absolute_url }}">
          {{ trial.name }}
        </a>
      </td>
      <td>{{ trial.min_participants}}</td>
      <td>*Real participants number heare please!+*</td>
    </tr>
  {% endfor %}
</table>
{% endif %}
