<div id="header">
      <div class="masthead">
        <a href="{% url 'home' %}" id="header-logo">
          <img src="{{ STATIC_URL }}img/randomisemelogo.png">
        </a>

        <div id="nav-right">
        <ul class="nav">
          <li class="">
            <a href="{% url 'contact' %}">
              Contact
            </a>
          </li>
          {% if request.user.is_superuser %}
            <li><a href="/admin/">Admin</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li><a href="#">{{ request.user }}</a></li>
          <li><a href="/logout">Log Out</a></li>
          {% else %}
          <li><a href="/accounts/login">Log In</a></li>
          {% endif %}
        </ul>

        <form class="form-search">
          <input type="text" class="input-medium search-query" placeholder="search">
          <!-- <button type="submit" class="btn">Search</button> -->
        </form>

        </div><!--nav-right-->
      </div>
</div>
<div id="subhead">
  <div class="container">
    <ul class="nav">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Create a Trial</a>
      </li>
      <li>
        <a href="">Browse Trials</a>
      </li>
      <li>
        <a href="">About RCTs</a>
      </li>
      <li>
        <a href="">About Randomise Me</a>
      </li>

    </ul>
  </div>
</div><!--subhead-->
