<div id="header">
      <div class="masthead">
        <a href="{% url 'home' %}" id="header-logo" class="img">
          <img src="{{ STATIC_URL }}img/randomisemelogo.png">
        </a>

        <div id="nav-right">
        <ul class="nav">
          <li class="">
            <a href="{% url 'contact' %}">
              Contact
            </a>
          </li>
          {% if request.user.is_superuser %}
            <li><a href="/admin/">Admin</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'account-edit' %}">
              {% if request.user.name %}
                {{ request.user.name}}
              {% else %}
                {{ request.user }}
              {% endif %}
            </a></li>
          <li><a href="/logout">Log Out</a></li>
          {% else %}
          <li><a href="/accounts/login">Log In</a></li>
          {% endif %}
        </ul>

        <form class="form-search" action="{% url 'search' %}">
          <input type="text" name="q" class="input-medium search-query" placeholder="search">
          <!-- <button type="submit" class="btn">Search</button> -->
        </form>

        </div><!--nav-right-->
      </div>
</div>
<div id="subhead" class="clearem">
  <div class="container">
    <ul class="nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        {% if request.user.is_authenticated %}
          <a href="{% url 'trial-create' %}">Create a Trial</a>
        {% else %}
          <a href="{% url 'tutorial' %}">Tutorial</a>
        {% endif %}
      </li>
      <li>
        <a href="{% url 'trials' %}">Browse Trials</a>
      </li>
      <li>
        <a href="{% url 'faq_topic_list' %}">Questions?</a>
      </li>      
      <li>
        <a href="{% url 'about-rcts' %}">About RCTs</a>
      </li>
      <li>
        <a href="{% url 'about-rm' %}">About Randomise Me</a>
      </li>

    </ul>
  </div>
</div><!--subhead-->
