{% extends 'baser.html' %}
{% load terms %}

{% block extratitle %} - About RCTs{% endblock %}

{% block content %}
  <h1>
    <span class="greyunder">
      About RCTs
    </span>
  </h1>

  {% filter replace_terms %}
    <div class="row-fluid justified">
      <div class="span7">
        <p>
          You want to find something out about the world. You heard science works well for this.
          You probably heard about fair tests at school......
        </p>
        <h3>
          <span class="light">THE CONCEPT OF</span>
          <span class="red bold">A FAIR TEST</span>
          <span class="light">(A RECAP)</span>
        </h3>
        <p>
          Let's pretend we're doing an experiment to see if fertilizer makes a plant grow to be larger than a plant that doesn't receive fertilizer. We put seeds of the same kind in three pots with fertilizer and rich soil. But, we run out of soil so we put the seeds without fertilizer in three pots filled with sand. We put all six pots in the same location and water each one with the same amount of water every other day. The plants with soil and fertilizer grow to be much larger than the ones grown in sand without fertilizer.
        </p>
        <p>
          Is that a fair test of whether fertilizer makes a plant grow to be larger? No! We changed two things (type of soil and fertilizer) so we have no idea whether the plants with fertilizer grew to be larger because of the fertilizer or whether the other plants were stunted by being grown in sand. It wasn't a fair test! All of the plants should have been in the same kind of soil.(
          <a href="http://www.sciencebuddies.org/science-fair-projects/project_experiment_fair_test.shtml">
            http://www.sciencebuddies.org/science-fair-projects/project_experiment_fair_test.shtml)
          </a>
        </p>
        <p>
          Bottom line, if you want to find out what's going on you need to just change one thing at a time and watch what happens...

        </p>
        <h3>
          <span class="light">ENOUGH ABOUT PLANTS</span>
          <span class="red bold">WHAT ABOUT HUMANS?</span>
        </h3>
        <p>
          Luckily there's an alternative to isolating the thing of interest by controlling everything in the experiment directly... we can make use of a neat thing called randomisation.  The BIG IDEA is that if we randomly allocate ourselves to be exposed to the thing of interest (or not exposed to it) in the right way then we can find out what the thing of interest is doing. This is because the effect of the things we're not interested in testing should balance out between the groups since used randomisation....read more here
          <a href="http://en.wikipedia.org/wiki/Randomized_controlled_trial">
            http://en.wikipedia.org/wiki/Randomized_controlled_trial
          </a>

        </p>
      </div>
    {% endfilter %}
    <div class="span5">
      {% include 'get_started.html' %}
    </div>
    </div>


{% endblock %}
