<p class="share-this">

  <a href="https://www.facebook.com/dialog/feed?
           app_id=508942905816897&
           link={{href}}&
           picture={{img}}&
           name=RecommendCare%20Survey&
           caption=Randomise Me!&
           description=Randomise Me is awesome!&
           redirect_uri={{href}}
           ">
           <i class="icon-facebook-sign"></i>
  </a>

  <a href="http://twitter.com?status={{title}}%20{{href}}" target="new">
    <i class="icon-twitter-sign"></i>
  </a>
  <a href="https://plus.google.com/share?url={{href}}"
     target="new">
     <i class="icon-google-plus-sign"></i>
  </a>
</p>
