{% extends 'baser.html' %}
{% block extratitle %} - All Trials{% endblock %}
{% block content %}
  <div class="page">
    <h1>
      <span class="greyunder">Browse Trials</span>
    </h1>

    <div class="row-fluid">
      <div class="span6">
        <h3>
          <span class="red bold">ACTIVE</span> <span class="light">TRIALS</span>
        </h3>
        <div class="row-fluid">
          <div class="span12 feature-box">
          {% for trial in active %}
            <div class="row dashrow">
              <div class="span6">
                <h3>
                  <a href="{{ trial.get_absolute_url }}">
                    {{ trial.title }}
                  </a>
                </h3>
              </div>
              <div class="span6">
                <a href="{{ trial.get_absolute_url }}" class="btn btn-warning">
                  find out more
                </a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

      <div class="span6">
        <h3>
          <span class="red bold">PAST</span> <span class="light">TRIALS</span>
        </h3>
        <div class="row-fluid">
          <div class="span12 feature-box">
          {% for trial in past %}
            <div class="row dashrow">
              <div class="span6">
                <h3>
                  <a href="{{ trial.get_absolute_url }}">
                    {{ trial.title }}
                  </a>
                </h3>
              </div>
              <div class="span6">
                <a href="{{ trial.get_absolute_url }}" class="btn btn-warning">
                  find out more
                </a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
