{% extends 'baser.html' %}
{% load tabs %}
{% block extratitle %} - All Trials{% endblock %}
{% block content %}
  <div class="page">
    <div class="row-fluid">
      {% tabs 'trials' %}
      <h2>Popular Active Trials</h2>
      <div class="span4">
        <p>
        Popular, as voted for by the randomise me community, trials that are still recruiting. Get involved.
        </p>
      </div>

      <div class="span4">
        <ul>
          {% for trial in active %}
            <li class="yellow">
              <a href="{{ trial.get_absolute_url }}">
                {{ trial.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="span3">
        <h4>
          <a href="{% url 'featured' %}">
            Featured Active Trials
          </a>
        </h4>
        <ul>
          {% for trial in active_featured %}
            <li class="red">
              <a href="{{ trial.get_absolute_url }}">
                {{ trial.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="row-fluid">
      <h2>Popular Past Trials</h2>
      <div class="span4">
        <p>
        Check out the most popular past trials, see the results and evaluate the trial design.
        </p>
      </div>

      <div class="span4">
        <ul>
          {% for trial in past %}
            <li class="yellow">
              <a href="{{ trial.get_absolute_url }}">
                {{ trial.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
{% endblock %}
