{% extends 'baser.html' %}

{% load featured_trials %}

{% block extratitle %} - All Trials{% endblock %}
{% block content %}
    <h1>
      <span class="greyunder">Browse Trials</span>
    </h1>

    <div class="row-fluid">
      {% featured_trials_widget 10 %}
    </div>

    <div class="row-fluid">
      <div class="span6">
        <h3>
          <span class="red bold">ACTIVE</span> <span class="light">TRIALS</span>
        </h3>
        <div class="row-fluid">
          <div class="span12 feature-box">
          {% for trial in active %}
            <a href="{{ trial.get_absolute_url }}">
              <p>
                  {{ trial.title }}
                <button class="btn btn-warning pull-right">
                  find out more
                </button>
              </p>
            </a>
          {% endfor %}
          </div>
        </div>
      </div>

      {% if past %}
      <div class="span6">
        <h3>
          <span class="red bold">COMPLETED</span> <span class="light">TRIALS</span>
        </h3>
        <div class="row-fluid">
          <div class="span12 feature-box">
          {% for trial in past %}
            <a href="{{ trial.get_absolute_url }}">
              <p>
                  {{ trial.title }}
                <button class="btn btn-warning pull-right">
                  find out more
                </button>
              </p>
            </a>
          {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

    </div>
{% endblock %}
