{% load bootstrap %}
{% load terms %}

<div class="row-fluid">
  <form id="newtrial_form" method="post"
        enctype="multipart/form-data"
        {% if editing %}
          action="{% url 'edit-trial' trial.pk %}"
        {% elif n1trial %}
          {% if reproducing %}
            action="{%url 'n1-trial-create' %}"
          {% else %}
            action="{%url 'n1-trial-create' %}"
          {% endif %}
        {% else %}
          action="{% url 'rm-trial-create' %}"
        {% endif %}
        >
        {{ Variable.management_form }}
        {% csrf_token %}
        <span class="hidem">
          {% if n1trial %}
            <!-- TODO solve this -->
            <input id="id_min_participants" name="min_participants" type="hidden" value="1"/>
            {{ form.recruitment }}
            {{ form.instruction_date }}
            {{ form.reporting_freq }}
            {{ form.reporting_date }}
            {{ form.ending_date }}
            <input id="id_ending_style" name="ending_style" type="text" value="{{form.instance.MANUALLY}}">
          {% endif %}
          {% if parent %}
            <input id="id_parent" name="parent" type="text" value="{{parent.pk}}">
          {% endif %}
        </span>


        {% if form.errors or Variable.errors %}
          <div class="control-group error">
            <p class="help-block">
              There were some problems with your trial - see below
            </p>
            {{ form.errors }}
            {{ Variable.errors}}
          </div>
        {% endif %}


        {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

        <!-- Begin Trial creation steps -->
</div>

{% if request.user.single_page %}
  <div> <!-- Replacement Carousel -->
    <div> <!-- Replacement Carousel-inner -->
{% else %}
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    {% if not n1trial %}
      <li data-target="#myCarousel" data-slide-to="6"></li>
    <!-- <li data-target="#myCarousel" data-slide-to="7"></li> -->
  {% endif %}
  </ol>

  <!-- Carousel items -->
  <div class="carousel-inner span10 offset1">
{% endif %}

    {% include 'trials/steps/step_title.html' %}
    {% include 'trials/steps/step_variables.html' %}
    {% include 'trials/steps/step_sizing.html' %}
    {% if not n1trial %}
{#       {% include 'trials/steps/step_recruitment.html' %} #}

    {% endif %}
    {% include 'trials/steps/step_description.html' %}
    {% include 'trials/steps/step_instructions.html' %}
    {% if not n1trial %}
      {% include 'trials/steps/step_ending.html' %}
    {% endif %}

    <div class="item"><!-- End Trial creation steps -->
      <h2>
        {% if n1trial %}6{% else %}7{% endif %}.
        <span class="red bold">CREATE</span> <span class="light">YOUR TRIAL</span>
      </h2>
      {% if editing %}
        <button class="btn btn-danger" type="submit">Save Changes</button>
      {% else %}
        <button class="btn btn-danger" type="submit">Create Trial</button>
      {% endif %}
    </div>

  </div>
  {% if not request.user.single_page %}

  <!-- Carousel nav -->
  <a class="carousel-control left btn btn-danger hidem"
     href="#myCarousel" data-slide="prev" tabindex="-1">back</a>
     <a class="carousel-control right btn btn-danger"
        href="#myCarousel" data-slide="next">next</a>
  {% endif %}
</div>

{% if editing %}
  <button class="btn btn-danger" type="submit">Save Changes</button>
{% endif %}

</form>


{% include 'trials/steps/power_calc_widget.html' %}


<script type="text/javascript">

  $(document).ready( function(){
  RM.forms.init_instruction_toggles();
  RM.forms.init_enter_sliding();
  RM.forms.init_focus();
  RM.forms.init_power({n1trial: {% if n1trial%}true{% else %}false{% endif %}});
  if(window.location.search.search(/step=(\d+)/) != -1){
  var step = (parseInt(window.location.search.match(/step=(\d+)/)[1]) -1);
  $('.carousel').carousel(step, true).carousel('pause');
  }
  });

</script>
