{% load json_filters join_trial%}
{% if participating.count == 0 and running.count == 0 and usertrials.count == 0 %}
  <p>
    Looks like you haven't <a href="{% url 'trial-create' %}">created</a>
    or <a href="{% url 'trials' %}">joined</a> any trials yet!
  </p>
  <p>
    Can we suggest that you start with one of our trial templates? They're
    simple, fun, and designed to help you understand why we're so excited
    by randomised control trials in general, and by how much easier
    Randomise Me makes it to run them. (COMING SOON)
  </p>
{% else %}
    {% if usertrials.count > 0 or running.count > 0 %}
      <h2>
        <span class="light">TRIALS YOU ARE </span><span class="bold red">RUNNING</span>
      </h2>
      <div class="row-fluid">
        <div class="span12 grey-back feature-box">
          {% for trial in running %}
            <div class="row dashrow">
              <div class="span6">
                <h3 class="light">
                  <a href="{{ trial.get_absolute_url }}">
                    {{ trial.title }}
                    </a>
                </h3>
              </div>
              <div class="span3">
                <p>
                  {{ trial.participant_set.count }}/{{ trial.min_participants }}
                </p>
              </div>
              <div class="span3">
                <p>
                {{ trial.finish_date }}
                {% if trial.private %}
                  <i class="icon-lock red"></i>
                {% else %}
                  <i class="icon-unlock green"></i>
                {% endif %}
                </p>

              </div>
            </div>

          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if participating.count > 0 %}
      <h2>
        <span class="light">TRIALS YOU ARE </span>
        <span class="bold red">
          PARTICIPATING IN
        </span>
      </h2>

      <div class="row-fluid drop24">
        <div class="span12 grey-back feature-box">
          <table class="table table-striped table-bordered">
            <tr>
              <th>Name</th>
              <th>Finish Date</th>
              <th>Data</th>
            </tr>
            {% for part in participating %}
            <tr>
              <td>
                <a href="{{ part.trial.get_absolute_url }}">
                  {{ part.trial.title }}
                </a>
              </td>
              <td>{{ part.trial.finish_date}}</td>
              <td>
                <a href="{{ part.trial.get_reporting_url}}" class="btn btn-danger">
                  Report data
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>

        </div>
      </div>
    {% endif %}

    {% if completed.count > 0 %}
      <h2>
        <span class="bold red">FINISHED</span> <span class="light">TRIALS</span>
      </h2>

      <div class="row-fluid drop24">
        <div class="span12 grey-back feature-box">
          <table class="table table-striped table-bordered">
            <tr>
              <th>Trial</th>
              <th>Description</th>
              <th>Results</th>
            </tr>
            {% for trial in completed %}
            <tr>
              <td>
                <a href="{{ trial.get_absolute_url }}">
                  {{ trial.title }}
                  </a>
              </td>
              <td>{{ trial.description }}</td>
              <td>
                <div id="vis{{trial.pk}}">

                </div><!--vis{{trial.pk}}-->
                <script type="text/javascript">
                  {% autoescape off %}
                  $(document).ready( function(){
                    RM.graphs.trial_thumbnail("#vis{{trial.pk}}", {{trial.results|json}} );
                    });
                  {% endautoescape %}
                </script>
              </td>
          {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    {% endif %}

    {% if participated.count > 0 %}
      <h2>
        <span class="light">TRIALS YOU </span><span class="bold red">PARTICIPATED IN</span>
      </h2>

      <div class="row-fluid drop24">
        <div class="span12 grey-back feature-box">
            {% for participant in participated %}
            {% with participant.trial as trial %}
              <div class="row dashrow">
                <div class="span6">
                  <a href="{{ trial.get_absolute_url }}">
                    <h3 class="light">
                      {{ trial.title }}
                    </h3>
                  </a>
                </div>
                <div class="span6">
                  <div id="vis{{trial.pk}}"></div><!--vis{{trial.pk}}-->
                </div>
              </div>
                <script type="text/javascript">
                  {% autoescape off %}
                  $(document).ready( function(){
                    RM.graphs.trial_thumbnail("#vis{{trial.pk}}", {{trial.results|json}} );
                    });
                  {% endautoescape %}
                </script>
            {% endwith %}
            {% endfor %}
            </div>
        </div>
      </div>
    {% endif %}


    <div class="row-fluid drop24">
      {% join_trial_widget %}
    </div>

{% endif %}
