{% extends 'baser.html' %}
{% load tabs %}
{% load trial_cta %}

{% block extratitle %} - Featured Trials{% endblock %}
{% block content %}
  <div class="page">
    <div class="row-fluid">
      {% tabs 'home' %}
      {% for trial in trials %}
        <div class="row-fluid">
          <div class="span4">
            <a href="{{ trial.get_absolute_url }}">
              <h3>{{ trial.name }}</h3>
            </a>
            <p>
              {{ trial.description }}
            </p>
          </div>
          <div class="span4">
            <h4>
              Required Participants: {{ trial.min_participants }}
            </h4>
            <h4>
              Current Participants: {{ trial.participant_set.count }}
            </h4>
            <h4>Time remaining:</h4>
            <p>
              {{ trial.time_remaining }} ({{ trial.finish_date }})
            </p>

            {% trial_cta trial request.user %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
