{% extends 'baser.html' %}
{% block extratitle %} - Join a Trial - {{ trial.name }}{% endblock %}
{% block content %}
<h3>
  <span class="red bold">JOIN</span> <span class="light">TRIAL</span>
</h3>

<div class="feature-box">
  <div class="row-fluid">
    {% if request.method == 'POST' %}
      {% if errors %}
        {% for err in errors %}
          <p>{{ err }}</p>
        {% endfor %}
      {% else%}
        <p>
          Congratulations - you're signed up to
          <a href="{% url 'trial-detail' trial.pk %}">
            <b>{{ trial.title }}</b>
          </a>
          .
        </p>
        <p>
          When the trial starts, we'll email you the instructions,
          so make sure to check your mail!
        </p>
     {% endif %}
   {% else %}
     <p>
       By using our service you agree for the information you enter to be stored.
       You may leave a trial, or close your account, at any time you wish but
       information that forms part of a trial will retained as part of that trial.
     </p>
     <form method="POST" id="join-form" action="{% url 'join-trial' trial.pk %}">
       {% csrf_token %}
       <center>
       <button class="btn btn-danger">Join this Trial</button>
       </center>
     </form>
   {% endif %}
  </div>
</div>
{% endblock %}
