<div class="span6">
  <a href="{% url 'trials' %}" class="feature-heading">
    <h2><span class="bold red">JOIN</span> <span class="light">A TRIAL</span></h2>
  </a>
   <div class="feature-box join-trial">

        {% for trial in recruiting %}
          <p>
            <a href="{{ trial.get_absolute_url }}">
            {{ trial.title }}
            </a>
            <a href="{{ trial.get_absolute_url }}" class="btn btn-warning pull-right">
              find out more
            </a>
          </p>
        {% endfor %}
   </div>
   <p class="pull-right drop12">
     <a href="{% url 'trials' %}" class="red weight400">
       Looking for a trial?
     </a>
   </p>
</div>
