{% extends 'baser.html' %}
{% load dashboard %}

{% block extratitle %} - New Trial{% endblock %}
{% block content %}

<div class="page">
  <h1>
    <span class="greyunder">
      Create a Trial
    </span>
  </h1>
  <div class="row-fluid">

    <div class="span6">
      {% new_nof1_widget %}
    </div><!-- span4 -->

    <div class="span6">
      {% new_trial_widget %}
    </div><!-- span4 -->

  </div> <!-- Row -->

<div class="row-fluid">

  <div class="span6">
    {% create_a_trial_widget %}
  </div>

    <!-- <div class="span6"> -->

    <!--   <h3> -->
    <!--     <span class="light">RUN AN </span> -->
    <!--     <span class="red bold">OFFLINE TRIAL</span> -->
    <!--   </h3> -->
    <!--   <div class="feature-box"> -->
    <!--     <p class="muted"> -->
    <!--       For when you want to answer questions about -->
    <!--       a sample that already exists offline, we'll help -->
    <!--       you design a great trial, allocate your sample, -->
    <!--       and run the stats when you're done. -->
    <!--     </p> -->
    <!--     <p class="text-center" > -->
    <!--       <a class="btn btn-danger" href="#">COMING SOON</a> -->
    <!--     </p> -->

    <!--     {% if user.is_standard %} -->
    <!--       <center> -->
    <!--         <p class="text-warning"> -->
    <!--           <small> -->
    <!--             Offline trials are only available to advanced -->
    <!--             accounts. -->
    <!--             </small> -->
    <!--           <br /> -->
    <!--           <a href="{% url 'account-types' %}" class="btn btn-danger"> -->
    <!--             Upgrade your account -->
    <!--             </a> -->
    <!--         </p> -->
    <!--       </center> -->
    <!--       {% endif %} -->

    <!--   </div> -->
    <!-- </div><\!-- span4 -\-> -->


</div> <!-- Roww -->


</div>
{% endblock %}
