{% load staticfiles %}
{% load bootstrap %}
{% load thumbnail %}
<h3>
  <span class="light">RANDOMISE</span> <span class="red bold">ME</span>
</h3>
<div class="feature-box">
  <div class="row-fluid
              {% if not active_instructions %}hidem{% endif %}
              "
               id="instruction-container"
              >

    <div class="span6 offset3">

      {% include 'trials/widgets/active_instructions_widget.html' %}
    </div>
  </div>

  <div class="row-fluid {% if pending %} hidem {% endif %}" id="randomiseme-button">
    <form method="POST" id="randomiseme-form" action="{% url 'randomise-me' trial.pk %}">
      {% csrf_token %}
      <input type="hidden" name="randomise" value="me" />
      <center>
        <button class="btn btn-danger largest" id="randomise-me">
          randomise me
        </button>
      </center>
    </form>
  </div>

  <div class="row-fluid
              {% if not reports %}hidem{% endif %}
              "
              id="report-table"
              >
              {% if trial.num_reports > 0 %}

              <p>
                Observations so far: {{ trial.num_reports }} / {{ trial.ending_reports }}
              </p>
              <div id="observation-ticker">
                <script type="text/javascript">
                  $(document).ready(function(){
                  RM.graphs.observation_ticker({{ trial.num_reports }}, {{ trial.ending_reports }});
                  })
                </script>
              </div><!--observation-ticker-->
              {% endif %}
              {% if trial.num_reports >= trial.ending_reports %}
                <p>
                  You have reached the target number of observations do you want to stop the trial?
                </p>
                <p>
                  <center>
                    <a href="#stopit" role="button" data-toggle="modal" class="btn btn-warning">
                      stop this trial
                      </a>

                  <center>
                </p>
              {% endif %}
              <table width="" cellspacing="" cellpadding="" border=""
                     class="table table-bordered table-hover table-striped"
                     >
                     <tr>
                       <th>Date</th>
                       <th>Group</th>
                       <th>Status</th>
                     </tr>
                     {% for report in reports %}
                       <tr>
                         <td>
                           {% if report.date %}
                             {{ report.date }}
                           {% else %}
                             *
                           {% endif %}
                         </td>
                         <td>
                           {% if report.group.name == report.group.GROUP_A %}
                             Group A
                           {% else %}
                             Group B
                           {% endif %}
                         </td>
                         <td>
                           {% if report.reported %}
                             Reported
                           {% else %}
                             <a href="#report-data" class="btn btn-danger largest" role="button" data-toggle="modal">
                               report data
                             </a>
                           {% endif %}
                         </td>
                       </tr>
                     {% endfor %}
              </table>
  </div>
</div>


<div id="report-data" class="modal hide fade" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
       <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
       <h3 id="myModalLabel">
         Report data for your trial
       </h3>
     </div>
     <form id="usertrialreport_form" method="post"
           action="{% url 'trial-report' trial.pk %}" class="ajaxform">
           {% csrf_token %}
           <div class="modal-body">
             <div class="row-fluid">

               {% for variable in trial.variable_set.all %}
                 <div class="span6">
                   {% if forloop.first %}
                     {% with variable.report_form as form %}
                       <input id="id_date" name="date" readonly="true" size="16" type="hidden"
                         value="{{today|date:"d/m/Y"}}">

                       {% if form.Meta.score %}
                         {{form.score|bootstrap}}
                       {% elif form.Meta.binary %}
                         {{form.binary|bootstrap}}
                       {% elif form.Meta.count %}
                         {{form.count|bootstrap}}
                       {% endif %}
                     {% endwith %}
                   {% endif %}
                 </div>
                 <div class="span6">
                   <h3>
                     <i>
                       {{ variable.question }}
                     </i>
                   </h3>
                   {% if variable.image %}
                     {% thumbnail variable.image "300x200" crop="center" as im %}
                     <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                   {% endthumbnail %}
                 {% endif %}
                 </div>
               {% endfor %}

             </div> <!-- row fluid -->
           </div>
           <div class="modal-footer">
             <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">cancel</button>
             <button class="btn btn-danger">
               report data
             </button>

           </div>
     </form>
</div><!--report-{{period.date.isoformat}}-->


<span id="groupa-instructions" class="hidem">{{trial.group_a}}</span>
<span id="groupb-instructions" class="hidem">{{trial.group_b}}</span>
<script type="text/javascript">
  $(document).ready( function(){
  RM.interactions.randomise_me();
  RM.interactions.nof1_reporting();
  })
</script>
