{% load bootstrap %}
{% if is_done %}
  <p>
    Thanks for reporting data to this trial!
    You've done your part, and we'll let you know when the trial ends &
    the results are in!
  </p>
{% elif trial.reporting_style == trial.REGULARLY %}
  {% for period in items %}
  <div class="span2 cal-item">
    <a
       {% if period.reported %}
         href="#"
       {% elif period.future%}
         href="#"
       {% else %}
       href="#report-{{period.date.isoformat}}" role="button" data-toggle="modal"
       {% endif %}
       >
      <p>
        {% if trial.reporting_freq == trial.WEEKLY %}W/C{% endif %}
        {% if trial.reporting_freq == trial.MONTHLY %}
          {{ period.date|date:"M"}}
        {% else %}
          {{ period.date }}
        {% endif %}
        <i class="{% if period.reported %}icon-ok-sign{%endif%}"></i>
      </p>
    </a>
  </div>

  {% if not period.future %}
  <!-- Modal -->
  <div id="report-{{period.date.isoformat}}" class="modal hide fade" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
      <h3 id="myModalLabel">
        Report data for
        {% if trial.reporting_freq == trial.WEEKLY %}W/C{% endif %}
        {% if trial.reporting_freq == trial.MONTHLY %}
          {{ period.date|date:"M"}}
        {% else %}
          {{ period.date }}
        {% endif %}
      </h3>
    </div>
    <form id="usertrialreport_form" method="post"
          action="{% url 'trial-report' trial.pk %}" class="ajaxform">
          {% csrf_token %}

    <div class="modal-body">
      <div class="row-fluid">

    {% for variable in trial.variable_set.all %}
    <div class="span6">
      {% if forloop.first %}
        {% with variable.report_form as form %}
          <input id="id_date" name="date" readonly="true" size="16" type="hidden"
                 value="{{period.date|date:"d/m/Y"}}">
           {% if form.Meta.score %}
             {{form.score|bootstrap}}
           {% elif form.Meta.binary %}
             {{form.binary|bootstrap}}
           {% elif form.Meta.count %}
             {{form.count|bootstrap}}
           {% endif %}
        {% endwith %}
      {% endif %}
    </div>
    <div class="span6">
      <h3>
        <i>
          {{ variable.question }}
        </i>
      </h3>
    </div>
    {% endfor %}

      </div> <!-- row fluid -->
    </div>
    <div class="modal-footer">
      <button class="btn " data-dismiss="modal" aria-hidden="true">cancel</button>
      <button class="btn btn-danger">
        report data
     </button>

    </div>
    </form>
  </div><!--report-{{period.date.isoformat}}-->
  {% endif %}

{% endfor %}
{% else %} <!-- Report once -->
    <form id="usertrialreport_form" method="post"
          action="{% url 'trial-report' trial.pk %}" class="ajaxform">
          {% csrf_token %}

    {% for variable in trial.variable_set.all %}
    <div class="span6">
      {% if forloop.first %}
        {% with variable.report_form as form %}
          {% if trial.reporting_style == trial.ONCE %}
          <input id="id_date" name="date" readonly="true" size="16" type="hidden"
                 value="{{today|date:"d/m/Y"}}">
           {% else %}
             {{ form.date|bootstrap }}
           {% endif %}
           {% if form.Meta.score %}
             {{form.score|bootstrap}}
           {% elif form.Meta.binary %}
             {{form.binary|bootstrap}}
           {% elif form.Meta.count %}
             {{form.count|bootstrap}}
           {% endif %}
        {% endwith %}
      {% endif %}
    </div>
    <div class="span6">
      <h3>
        <i>
          {{ variable.question }}
        </i>
      </h3>
    </div>
    {% endfor %}

      <button class="btn btn-danger">
        report data
     </button>

    </form>




{% endif %}



  <script type="text/javascript">

    $(document).ready( function(){
      RM.forms.init_modalreports();
    });

  </script>
