{% extends 'baser.html' %}
{% load bootstrap %}
{% block extratitle %} - Report Data{% endblock %}
{% block content %}
  <div class="page">
    <h2>
      <i class="icon-group red"></i>
      {{trial.question}}
    </h2>

    <div class="row-fluid">
      <form id="usertrialreport_form" method="post"
            action="{% url 'trial-report' trial.pk %}">
        {% csrf_token %}


      <div class="control-group required">

          <label class="control-label" for="date">Date</label>

          <div class="controls">
            <div class="input-append date datepicker" data-date="09/05/2013" data-date-format="dd/mm/yyyy">
    <input id="date" name="date" readonly="true" size="16" type="text" value="09/05/2013" /> <span class="add-on"><i class="icon-th"></i></span>
</div>

          </div>

      </div>

            {% for variable in trial.variable_set.all %}
              <div class="control-group">
          <label class="control-label" for="id-{{ variable.name }}">{{ variable.name }}</label>

          <div class="controls">
            <input type="text" name="id-{{variable.name}}" value="" />

            {% for error in field.errors %}
              <!-- Bah this won't work -->
              <span class="help-inline">{{ error }}</span>
            {% endfor %}

            {% if field.help_text %}
              <!-- Nor will this -->
              <p class="help-block">
                {{ field.help_text|safe }}
              </p>
            {% endif %}

          </div>
      </div>

            {% endfor %}


        <button class="btn btn-danger" type="submit">Report Data</button>
      </form>

    </div>
</div>
{% endblock %}
