{% extends 'baser.html' %}
{% load tabs json_filters %}
{% block extratitle %} - Trials - {{ trial.name }}{% endblock %}
{% block content %}
<div class="page">
  {% tabs 'trialdetail' %}

  <h1>{{ trial.name }}</h1>
  <div class="row-fluid">
    <div class="span6">
      <p>
        {{ trial.question }}
      </p>
      {% if not trial.finished %}
        <h4>Runs from:</h4>
        <p>
          {{ trial.start_date }} - {{ trial.finish_date }}
          </p>
        <h4>Recording:</h4>
        <p>{{ trial.variable }}</p>
        {% if trial.active %}
          <h2>Instructions: </h2>
          <p> {{ trial.instructions_today }} </p>
        {% endif %}
      {% else %}
        <div id="vis">

        </div><!--results-->
        <script type="text/javascript">
          {% autoescape off %}
            $(document).ready( function(){
              RM.graphs.single_user_trial("#vis", {{ trial.results|json }});
            });
          {% endautoescape %}
        </script>
        <!-- Results Vis here -->
      {% endif %}
    </div>

    <div class="span6">
      <h4>Data collected so far:</h4>
      <p>
        {{ trial.singleuserreport_set.count }} reports so far.
      </p>
      {% if trial.active %}
        <a href="{% url 'user-trial-report' trial.pk %}" class="btn btn-danger">
          Report Data
          </a>
      {% elif trial.finished %}
        <h4>Runs from:</h4>
        <p>
          {{ trial.start_date }} - {{ trial.finish_date }}
          </p>
        <h4>Recording:</h4>
        <p>{{ trial.variable }}</p>
      {% endif %}
    </div>

  </div> <!-- Row -->

</div> <!-- Page -->
{% endblock %}
