{% load maths %}
<div class="feature-box">
  <div class="row-fluid">
      <!-- Main panel -->
      <div class="span9">
        <h3>
          Participants
          <span class="bold">
            {{ trial.participant_set.count }}/{{ trial.min_participants }}
            </span>
          You need
          <span class="bold">
            {{ trial.participant_set.count|subtract:trial.min_participants}}
          </span>
          more people
        </h3>

        <h3>
          Active Participants
          <span class="bold">
            85 (4%)
          </span>
        </h3>

        <h3>
          This is a
          <span class="bold">
          {% if trial.private %}private{% else %}public{% endif %}
          </span> trial
          <a href="#" class="btn btn-warning">make public</a>
        </h3>

        <div class="row-fluid">
          <div class="span4">
            <h3>Instructions for the Intervention Group</h3>
            <p><i>{{ trial.group_a }}</i></p>
          </div>
          <div class="span4">
            <h3>Instructions for the Control Group</h3>
            <p><i>{{ trial.group_b }}</i></p>
          </div>
        </div>

        <a href="#" class="btn btn-warning">stop this trial</a>

      </div>

      <!-- Side panel -->
      <div class="span3 side-panel">
        <ul class="unstyled">
          <li>
            <a href="#">Export as CSV</a>
          </li>
          <li>
            <a href="#">Duplicate Trial</a>
          </li>
          <li>
            <a href="#">Talk to us</a>
          </li>
          <li>
            <a href="#">About this trial</a>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- Row Fluid -->
