{% extends 'baser.html' %}
{% load tabs share %}
{% load trial_cta %}
{% load comments %}

{% block extratitle %} - Trials - {{ trial.name }}{% endblock %}
{% block content %}
<div class="page">
  {% tabs 'trialdetail' %}
  <div class="row-fluid">
    <div class="span10">
      <h1>
        {{ trial.name }}
        </h1>
      <small>
        Trial run by:
        {% if trial.owner == request.user %}You!{% else %}{{ trial.owner }}{% endif %}
        </small>
    </div>
    <div class="span2">
      <a href="{{ trial.get_absolute_url }}">
        <h2>
          #{{ trial.pk }}
        </h2>
      </a>
      {% share_this %}
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8 feature-box grey-back">
      <h3>
        {% if trial.private %}
          <i class="icon-lock red"></i>
        {% else %}
          <i class="icon-unlock green"></i>
        {% endif %}

        Participants: {{ trial.participant_set.count }}/{{ trial.min_participants }}
      </h3>
      <h3 class="pull-right">
        {{ trial.time_remaining.days }}
        <small>
          days remaining
        </small>
      </h3>

      <p>
        {{ trial.description }}
      </p>

      {% if trial.needs_participants %}
        <p>
          You need {{ trial.needs }} more participants.
          <a href="{% url 'contact' %}">
            Contact us for help recruiting for your trial.
          </a>
        </p>

        <h4>Active Participants: COMING SOON (SOON %)</h4>
      {% endif %}

      {% if trial.private %}
        <hr />

        <p>
          Ready to make this trial public?
          <a href="#" class="btn btn-danger">Make public</a>
        </p>
      {% endif %}

      <hr />
      <p>
        Want to run a similar trial?
        <a href="{% url 'reproduce-trial' trial.pk %}" class="btn btn-danger">
          Reproduce this trial
        </a>
      </p>

      <hr />
      <p>
        Want to stop this trial?
        <a href="#" class="btn btn-danger">Stop this trial</a>
      </p>

    </div>

  </div> <!-- Row Fluid -->

  <h2>Instructions</h2>
  <div class="row-fluid">
    <div class="span4 grey-back feature-box">
      <h3>Group A</h3>
      <p>{{ trial.group_a }}</p>
    </div>
    <div class="span4 grey-back feature-box">
      <h3>Group B</h3>
      <p>{{ trial.group_b }}</p>
    </div>
  </div>

</div>
{% endblock %}
