{% load json_filters %}
{% load trial_protocol %}
{% load maths %}
{% load staticfiles %}

<h3>
  <span class="light">TRIAL</span> <span class="red bold">RESULTS</span>
</h3>
<div class="feature-box">

  <div class="row-fluid">
    <div class="span8">
      <div id="mainbar-{{trial.pk}}" class="">
      </div><!--mainbar-{{trial.pk}}-->
    </div>
    <div class="span4">
      {% with trial.trialanalysis_set.get as anal %}
      {% with trial.variable_set.get as measure %}

      <table class="table">
        <tr>
          <td colspan="2">
            Number of observations:
          </td>
          <td>
            {{ trial.report_set.count }}
          </td>
        </tr>
        {% if measure.style == measure.BINARY %}
          <tr>
            <td colspan="2">P-value for Pearson's Chi-squared test</td>
            <td> {{ anal.pval }}</td>
          </tr>
        {% else %}
        <tr>
          <td colspan="2">
            P-value for a t-test comparing the two means:
          </td>
          <td>
            {{ anal.pval|floatformat:"3" }}
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Group A</td>
          <td>Group B</td>
        </tr>
        <tr>
          <td>Mean</td>
          <td>
            {{ anal.meana|floatformat:"3" }}
          </td>
          <td>
            {{ anal.meanb|floatformat:"3" }}
          </td>
        </tr>
        <tr>
          <td>
            Standard error of the mean <br />
            <small>
              <a href="https://en.wikipedia.org/wiki/Standard_error#Standard_error_of_the_mean">
                What is this?
              </a>
            </small>
          </td>
          <td>
            {{ anal.stderrmeana|floatformat:"3" }}
          </td>
          <td>
            {{ anal.stderrmeanb|floatformat:"3" }}
          </td>
        </tr>
        {% endif %}

      </table>
      {% endwith %}
      {% endwith %}
    </div>
  </div>

<div class="row-fluid">
  <div class="span4 protocol-detail">
    <h3>
      Instructions for Group A
      <img src="{% static 'img/icons/icn-grpA.png' %}" class="protocol-icon-side" alt="" />
    </h3>
    <p>
      {{ trial.group_a }}
    </p>
  </div>
  <div class="span4 protocol-detail">
    <h3>
      Instructions for Group B
      <img src="{% static 'img/icons/icn-grpB.png' %}" class="protocol-icon-side" alt="" />
    </h3>
    <p>
      {{ trial.group_b }}
    </p>
  </div>
</div> <!-- row -->



</div>

{% if trial.n1trial %}
  <center class="drop24">
    <a href="{% url 'reproduce-n1-trial' trial.pk %}" class="btn btn-danger">
      run this trial on yourself
      </a>
  </center>
{% endif %}


  {% trial_protocol_widget %}


<script type="text/javascript">
  {% autoescape off %}
    $(document).ready( function(){
    RM.graphs.trial_report(
    "{{trial.pk}}",
    {{trial.results|json}}
    );
    });
  {% endautoescape %}
</script>
