{% extends 'baser.html' %}
{% load share %}
{% load trial_cta %}

{% block extratitle %} - Trials - {{ trial.name }}{% endblock %}
{% block content %}
<div class="page">
  <div class="row-fluid">
    <div class="span10">
      <h1>
        {{ trial.title }}
        </h1>
      <small>
        Trial run by:
        {% if trial.owner == request.user %}You!{% else %}{{ trial.owner }}{% endif %}
        <br />
        {{ trial.start_date }} - {{ trial.finish_date }}
      </small>
    </div>
    <div class="span2">
      <a href="{{ trial.get_absolute_url }}">
        <h2>
          #{{ trial.pk }}
        </h2>
      </a>
      {% share_this %}
    </div>
  </div>

  {% include detail_template %}

</div>
{% endblock %}
