{% load json_filters %}
{% load trial_protocol %}
<h3>
  <span class="light">TRIAL</span> <span class="red bold">RESULTS</span>
</h3>
<div class="feature-box">

  <div class="row-fluid">
    <div class="span12">
      <div id="mainbar-{{trial.pk}}" class="">
      </div><!--mainbar-{{trial.pk}}-->
    </div>
  </div>


</div>

  {% trial_protocol_widget %}


<script type="text/javascript">
  {% autoescape off %}
    $(document).ready( function(){
    RM.graphs.trial_report(
    "{{trial.pk}}",
    {{trial.results|json}}
    );
    });
  {% endautoescape %}
</script>
