<!-- Side panel -->
<div class="span3 side-panel">
  <ul class="unstyled">
    {% if trial.finished %}
    <li>
      <a href="{% url 'trial-as-csv' trial.pk %}">Export as CSV</a>
    </li>
    {% endif %}
    <li>
      <a href="{% url 'reproduce-trial' trial.pk %}">Duplicate Trial</a>
    </li>
    <li>
      <a href="#">Talk to us</a>
    </li>
    <li>
      <a href="#">About this trial</a>
    </li>
    <li>
      <a href="#">Report this trial</a>
    </li>
    {% if peek %}
      <li>
        <a href="#peek" role="button" data-toggle="modal">
          Peek at the results
        </a>
      </li>
    {% endif %}
  </ul>

  <!-- Modal -->
  <div id="peek" class="modal hide fade" tabindex="-1"
       role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-header">
         <h3 id="myModalLabel">Peek at the results</h3>
       </div>
       <div class="modal-body">
         <p>
           YOU CAN PEEK AT THE RESULTS IF YOU REALLY WANT TO BUT THIS CAN
           CAUSE BAD THINGS TO HAPPEN = ARE YOU SHURE?
         </p>
       </div>
       <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true">cancel</button>
         <a href="{% url 'trial-peek' trial.pk%}" class="btn btn-danger">peek</a>
       </div>
  </div>

</div>
