{% extends 'baser.html' %}
{% load tabs %}
{% block extratitle %} - Trials - {{ trial.name }}{% endblock %}
{% block content %}
<div class="page">
  <div class="row-fluid">
    {% tabs 'trialdetail' %}
    <h1>
      {{ trial.name }}
    </h1>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <p>
        {{ trial.description }}
      </p>
    </div>
    <div class="span5">
      <h4>Current Participants</h4>
      <p>
        *A real number here please*
      </p>
      <h4>Time remaining</h4>
      <p>
        {{ trial.time_remaining }} ({{ trial.finish_date }})
      </p>
    </div>
  </div>

</div>
{% endblock %}
