{% load maths %}
<h3>
  <span class="light">TRIAL</span> <span class="red bold">META</span>
</h3>
<div class="feature-box">
  <div class="row-fluid">
      <!-- Main panel -->
      <div class="span9">

        <div class="row-fluid">
          <div class="span6"> <!-- Inner frist col -->
            <h3>
              Participants
              <span class="bold">
                {{ trial.participant_set.count }}/{{ trial.min_participants }}
                </span>
              </h3>

          </div>

          <div class="span6"> <!-- Inner second col -->
            <h3>
              You need
              <span class="bold">
                {{ trial.min_participants|subtract:trial.participant_set.count}}
                </span>
              more people
            </h3>

          </div>

        </div> <!-- Inner row 1. -->

        <h3>
          Active Participants
          <span class="bold">
            85 (4%) THIS IS STATIC TEXT BTW
          </span>
        </h3>

        <!-- Public private etc -->
        {% if trial.is_invitation_only %}
          <div class="row-fluid">
            <div class="span6">
              <h3>
                This trial is <span class="bold">invitation only</span>
              </h3>
            </div>
            <div class="span6">
              <a href="#invite-modal" role="button" data-toggle="modal"
                 class="btn btn-warning">
                 invite people
              </a>
            </div>

  <!-- Modal -->
  <div id="invite-modal" class="modal hide fade" tabindex="-1"
       role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-header">
         <h3 id="myModalLabel">Invite people to this trial</h3>
       </div>
       <div class="modal-body">
         <form method="POST" id="invite-form" action="{% url 'trial-invite' trial.pk %}">
           {% csrf_token %}
           <input type="hidden" name="trial_pk" value="{{trial.pk}}" />
         <p>
           <input type="text" name="email" value="" placeholder="larry@example.com"/>
           <button id="btn-invite" class="btn btn-danger">invite</button>
         </p>
         </form>
         <h4>Currently invited</h4>
         <ul id="invited-list">
           {% for invitation in trial.invitation_set.all %}
             <li>
               {{ invitation.email }}
             </li>
           {% endfor %}
         </ul>
       </div>
       <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true">close</button>
       </div>
       <script type="text/javascript">
         $(document).ready( function(){
           RM.forms.init_modalinvite();
         });
       </script>
  </div>


          </div>
        {% else %}
          <div class="row-fluid">
            <div class="span6">
              <h3>
                This is a
                <span class="bold">
                  {% if trial.private %}private{% else %}public{% endif %}
                </span> trial
              </h3>
            </div>
            <div class="span6">
              {% if trial.private %}
                <a href="#" class="btn btn-warning">make public</a>
              {% endif %}
            </div>
          </div>
        {% endif %}


        <div class="row-fluid">
          <div class="span6">
            <h3>Instructions for the Intervention Group</h3>
            <p><i>{{ trial.group_a }}</i></p>
          </div>
          <div class="span6">
            <h3>Instructions for the Control Group</h3>
            <p><i>{{ trial.group_b }}</i></p>
          </div>
        </div>

        <a href="#" class="btn btn-warning">stop this trial</a>

      </div>
      {% include 'trials/trial_detail_sidebar.html' %}
    </div>
  </div> <!-- Row Fluid -->


<h3>
  <span class="light">TRIAL</span> <span class="red bold">DETAILS</span>
</h3>

<div class="feature-box">
  <p>
    {{ trial.description }}
  </p>
  <div class="row-fluid">
    <div class="span6">
      <h3 class="light">
        Control Group description
      </h3>
      <p><i>
        {{ trial.group_a_desc }}
      </p></i>
    </div>
    <div class="span6">
      <h3 class="light">
        Intervention Group description
      </h3>
      <p><i>
        {{ trial.group_b_desc }}
      </p></i>
    </div>

  </div>
</div>
