<h3>
  <span class="light">TRIAL</span> <span class="red bold">DETAILS</span>
</h3>
<div class="feature-box">
  <div class="row-fluid">
      <!-- Main panel -->
      <div class="span9">
        {% if trial.is_edited %}
          <h4>
            <i>
              This trial has been edited!
            </i>
          </h4>
        {% endif %}

        <h3>
          Participants
          <span class="bold">
            {{ trial.participant_set.count }}/{{ trial.min_participants }}
            </span>
        </h3>
        <p>
          {{ trial.description }}
        </p>
        {% if trial.recruitment == trial.INVITATION %}
          {% if can_join %}
            <a href="{% url 'join-trial' trial.pk %}" class="btn btn-warning">
              join trial
              </a>
          {% else %}
          <p>Participation in this trial is by invitation only</p>
          {% endif %}
        {% else %}
        <a href="{% url 'join-trial' trial.pk %}" class="btn btn-warning">
          join trial
          </a>
        {% endif %}
      </div>
      {% include 'trials/trial_detail_sidebar.html' %}
    </div>
  </div> <!-- Row Fluid -->
