{% extends 'baser.html' %}
{% load terms bootstrap %}

{% block extratitle %} - Create your own trial{% endblock %}
{% block content %}
  {% filter replace_terms %}

<h1>
  <span class="greyunder">
    Tutorial
  </span>
</h1>
  <div class="page">
  <form method="POST" id="tutorial-form" action="" class="nolabels">

  <div class="row-fluid">
    <h3>1. What's your question</h3>
    <h4>
      Does eating concrete give you constipation?
    </h4>
    <p>
      Eating concrete is the intervention. An intervention is some thing...
    </p>
    <p>
      Having constipation is the primary outcome. It's the thing you care about.
    </p>
    {{ form.title|bootstrap }}
  </div>

  <h3>2. To test this hypothesis we'll create two different sets of instructions</h3>
  <div class="row-fluid">
    <div class="span6">
      <h4>Group A</h4>
      <p>Eat Concrete</p>
    </div>
    <div class="span6">
      <h4>Group B</h4>
      <p>Don't eat Concrete </p>
    </div>
  </div>
  <p>What are your instructions?</p>

  <div class="row-fluid">
    <div class="span6">
      {{ form.group_a|bootstrap }}
    </div>
    <div class="span6">
      {{ form.group_b|bootstrap }}
    </div>
  </div>

  <h3>3. Get started</h3>
  <div class="row-fluid">
    <p>
      You're almost ready to start, but we'll need to give you an account
      so you can check up on your trial...
    </p>
      We'll need an email address and a password from you...
    <p>
      <input type="text" name="email" value="" placeholder="you@example.com" />
      <input type="password" name="password" placeholder="password" value="" />
      <input type="password" name="confirm-password" placeholder="confirm password" value="" />
      <i class="icon-question-sign"
         title="Your account"
         data-content="We'll use your email as a login for the site and to send you updates on your trials. Don't worry, we won't share your email with anyone without your permission"
           >
        </i>
    </p>
    <p>
      <button class="btn btn-danger" type="submit">Create Trial</button>
    </p>
  </div>

  <div class="row-fluid">
    <h3>4. At the end you'll get some graphs that answer your question</h3>
    <p>
      Placeholder for pretty graph
    </p>
  </div>

  </form>

</div>
{% endfilter %}

{% endblock %}
