{% load bootstrap %}
<form id="usertrialreport_form" method="post"
      action="{% url 'trial-report' trial.pk %}" class="">
      {% csrf_token %}
      {% for variable in trial.variable_set.all %}
        {% if forloop.first %}
        <div class="row-fluid">
          <div class="span6">
            <h3><i>{{ variable.question }}</i></h3>
            <p>
                {% with variable.report_form as form %}
                  {{ form.date|bootstrap }}
                  {% if form.Meta.score %}
                    {{form.score|bootstrap}}
                  {% elif form.Meta.binary %}
                    {{form.binary|bootstrap}}
                  {% elif form.Meta.count %}
                    {{form.count|bootstrap}}
                  {% endif %}
                {% endwith %}
            </p>
              <button class="btn btn-danger">
                report data
              </button>
          </div>
          <div class="span6">
            <h3>Old Reports</h3>
            <table width="" cellspacing="" cellpadding="" border="" class="table table-bordered table-hover">
              <tr>
                <th>Date</th>
                <th>Value</th>
              </tr>
              {% for report in reports %}
                <tr>
                  <td>{{ report.date }}</td>
                  <td>{{ report.get_value }} </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        {% endif %}
      {% endfor %}
</form>
