{% extends 'baser.html' %}
{% load bootstrap %}

{% block content %}
  <div class="page">
    <h1>
      <span class="greyunder">
        New Offline Trial
      </span>
    </h1>
    <form method="POST" id="new-offline-trial-form" action=".">
      <div class="row-fluid">
        <div class="span12">
          {{ form.title|bootstrap }}
          {{ form.description|bootstrap }}
          <div class="row-fluid">
            <div class="span6">
              {{ form.group_a|bootstrap }}
            </div>
            <div class="row-fluid">
              {{ form.group_b|bootstrap }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
