{% load bootstrap %}
    <div class="item">
      <!-- Step 4 Recruitment -->
      <h2>4. <span class="light">RECRUITING</span> <span class="red bold">PARTICIPANTS</span></h2>

      <h3>How will you recruit participants? </h3>
      {{ form.recruitment|bootstrap }}
      <p class="muted">
        If you select 'Anyone can join' then we'll feature your trial on the
        site. If you select 'Only people I've invited' then we'll generate a
        link for you that won't be accessible from elsewhere on Randomise Me
      </p>
    </div>
