{% load bootstrap %}

<div class="item">
  <h2>3. <span class="red bold">SIZE</span> <span class="light">OF YOUR TRIAL</span></h2>
  {% if n1trial %}

    <h3>Number of observations</h3>
    {{ form.ending_reports }}
      <i class="icon-question-sign"
         title="Number of observations"
         data-html="true"
         data-placement="bottom"
         data-content="          <p>
         An observation is an individual data point in your trial. e.g. if
         you were running a trial on how fast you ran 5k with your two pairs
         of running shoes, an observation would be the time you took to run
         5k on one run.
          </p>"
           >
        </i>


    <h3>Would you like help to decide how many observations you'll need?</h3>
  {% else %}
      <h3>Minimum number of participants</h3>
      {{ form.min_participants }}
      <i class="icon-question-sign"
         title="Number of participants"
         data-html="true"
         data-placement="bottom"
         data-content="          <p>
             This is the minimum number of people you need in your trial
             in order to obtain statistically significant results
          </p>"
           >
        </i>
    <h3>Would you like help to decide how many people you will need in your trial? </h3>
{% endif %}

    <a href="#power" class="btn btn-warning" data-toggle="modal" role="button">
      help me decide
    </a>

</div>
