{% extends "baser.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block extratitle %}{% trans " - Sign In" %}{% endblock %}


{% block content %}

<h1>
  <span class="greyunder">
  Sign In
  </span>
</h1>

<div class="row-fluid">
  <div class="span4">

{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please log in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for an account{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div>
    <p>
      <button class="btn btn-warning" type="submit">{% trans "Sign In" %}</button>
      <a class="btn btn-danger" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </p>
  </div>
</form>
  </div>

  <div class="span6 offset2">
    <h3 class="light">
      Don't have an account?
    </h3>
    <p>
      <a href="{% url 'account_signup' %}" class="btn btn-warning">sign up</a>
    </p>

    <!-- <h4>Or sign in with an existing account...</h4> -->
    <!-- <p> -->
    <!--   <a href="{% url 'cas-login' %}" class="img"> -->
    <!--     <img src="{{ STATIC_URL }}img/ohc.logo.png" class="" alt="Open Healthcare Account" /> -->
    <!--   </a> -->
    <!-- </p> -->
  </div>

</div>

{% endblock %}
