{% extends "baser.html" %}

{% load i18n %}
{% load account %}

{% block extratitle %} - Password Reset {% endblock %}

{% block content %}

    <h1>
      <span class="greyunder">
        {% trans "Password Reset" %}
      </span>
    </h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="" class="password_reset">
        {% csrf_token %}
        {{ password_reset_form.as_p }}
        <button class="btn btn-danger">
          Reset My Password
        </button>
    </form>

{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
