<p>
  Hi, this is just a note to let you know that you've been randomised in the trial:
</p>
<h1>
  {{name}}
</h1>
<p>
  You've been randomly assigned to group {{ group }}, which means that your instuctions are:
</p>
<p>
  <i>
    {{instructions}}
  </i>
</p>
<h2>
  What to do now?
</h2>
<p>
  To participate in this trial, you should visit the
  <a href="{{href}}">trial's web page</a>
  record the answer to the following question:
</p>
<p>
  <i>
    {{ question }}
  </i>
</p>
<p>
  You can find out more details about the trial on the Randomise Me site
</p>
<p>
  <a href="{{href}}">{{name}}</a>
</p>
