<p>
  Hi there, we noticed that you recently clicked the "Randomise Me" button
  but you haven't reported any data yet...
</p>
<p>
  It was on the trial <i>{{ name }} </i>
</p>
<h2>
  What to do now?
</h2>
<p>
  Log in to
  <a href="{{href}}">report some data and</a>
  record the answer to the following question:
</p>
<p>
  <i>
    {{ question }}
  </i>
</p>
<p>
  You can find out more details about the trial on the Randomise Me site
</p>
<p>
  <a href="{{href}}">{{name}}</a>
</p>

<p>
  Don't want to get emails from Randomise Me?
  <a href="http://randomiseme.org/account">Unsubscribe here</a>
</p>
