{% load staticfiles %}

{% if show %}
  <div class="dashboard-widget">
    <div class="dashboard-widget-preheader"></div>
    <div class="dashboard-widget-header">
      <h2>
        <img src="{% static 'img/dots-crea.png' %}" class="" alt="" />
        <span class="red bold">
          CREATE
        </span>
        <span class="light">
          A TRIAL
        </span>
      </h2>
    </div> <!-- dw-header -->
    <div class="dashboard-widget-body">
      <div class="row-fluid">
        <div class="span{% if not size %}2{% else %}3{% endif %}">
          <img src="{% static 'img/create-trial-graphic.png' %}" id="createflowers" />
        </div>
        <div class="span9">
          <dl id="createlist">
            <dt>
              Have a question
            </dt>
            <dt>
              Create a trial in minutes
            </dt>
            <dt>
              Get pretty results
            </dt>
          </dl>
        </div>
        <!-- <img src="{% static 'img/create-trial-graphic-full.png' %}" class="" alt="" /> -->

      </div>
      <div class="row-fluid drop24">
        <a href="{% url 'tutorial' %}" class="btn btn-danger
                                              pull-right">
          create a trial
        </a>
      </div>
    </div> <!-- body -->
    <div class="dashboard-widget-footer">

    </div>
    <div class="dashboard-widget-postfooter"></div>

  </div> <!-- Widget -->
{% endif %}
