{% load staticfiles %}

<div class="dashboard-widget">
  <div class="dashboard-widget-preheader"></div>
  <div class="dashboard-widget-header">
    <h2>
      <img src="{% static 'img/dots-create-rand-me.png' %}" class="" alt="" />
      <span class="red bold">
        OFFLINE
      </span>
      <span class="light">
        TRIAL
      </span>
    </h2>
  </div> <!-- dw-header -->
  <div class="dashboard-widget-body">
    <a href="{% url 'create-offline-trial' %}">
      <div class="row-fluid dashboard-widget-item">
        <p>
          For when you want to answer questions about
          a sample that already exists offline, we'll help
          you design a great trial, allocate your sample,
          and run the stats when you're done.
        </p>
        <p class="text-center" >
          <a class="btn btn-danger" href="{% url 'create-offline-trial' %}">Create an offline Trial</a>
        </p>

      </div>
    </a>
  </div> <!-- body -->
  <div class="dashboard-widget-footer">

  </div>
  <div class="dashboard-widget-postfooter"></div>

</div> <!-- Widget -->
