{% load staticfiles %}
{% if show %}
  <div class="dashboard-widget">
    <div class="dashboard-widget-preheader"></div>
    <div class="dashboard-widget-header">
      <h2>
        <img src="{% static 'img/dots-rand-me.png' %}" class="" alt="" />
        <span class="light">
          TRIAL
        </span>
        <span class="red bold">
          REPORTS
        </span>
      </h2>
      <h2>
        <span class="light">
          TRIALS YOU'VE
        </span>
        <span class="red bold">
          PARTICIPATED
        </span>
        <span class="light">
          IN
        </span>
      </h2>
    </div> <!-- dw-header -->
    <div class="dashboard-widget-body">
      {% for trial in participated %}
        {% if forloop.counter < 3 %}
          {% include 'dashboard/report_detail.html' %}
        {% endif %}
      {% endfor %}
      <div class="dashboard-widget-extra">
        {% for trial in participated %}
        {% if forloop.counter > 2 %}
          {% include 'dashboard/report_detail.html' %}
        {% endif %}
      {% endfor %}
      </div>

    </div> <!-- body -->
    <div class="dashboard-widget-footer">
      {% if num > 2 %}
        <a href="#" class="expand">
          see all ({{num}})
        </a>
      {% endif %}
    </div>
    <div class="dashboard-widget-postfooter"></div>

  </div> <!-- Widget -->
{% endif %}
